li{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

table{
    margin: auto;
}

body{
    font-family: sans-serif, Arial, Helvetica, 'lucida Sans';
    overflow: auto;
}

#containerChamar{
    width: 99%;
    height: 100%;
    position: absolute;
    display: none;
}

#dadosChamar{
    width: 400px;
    max-height: 200px;
    border: 3px solid rgb(102, 101, 101);
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
    box-shadow: 0 0 10px black;
    animation: aparecer 1s;
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

tbody tr:nth-of-type(odd){
    background-color: rgb(216, 212, 212);
}

#containerLeft{
    display: inline-block;
    width: 45%;
    margin-top: 5px;
    text-align: center;
}

#inserir{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;

}

.inputInserirDados{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(207, 204, 204);
}

.inputInserirDados::placeholder{
    color: white;
    font-weight: 800;

}

.inputInserirDados:hover{
    background-color: rgb(129, 127, 127);
}

#listaDisponiveis{
    margin-left: 10px;
}

#emServico{
    margin-top: 5px;
    margin-right: 20px;
    width: 45%;
    min-height: 35px;
    float: right;
    text-align: center;

}

th{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;

}

td{
    border: 1px solid black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 5px;

}

#nomeFunci{
    min-width: 20px;
}

.excluir{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.excluir:hover{
    background-color: rgb(206, 9, 9)

}

.chamar{
    background-color: rgb(0, 149, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.chamar:hover{
    background-color:  rgb(17, 119, 3);
}

@media screen and (max-width: 600px) {
    #containerLeft{
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    #listaDisponiveis{
        margin:auto;
        text-align: center;
    }

    #emServico{
        text-align: center;
        float: none;
        margin: auto;
        width: 100%;
    }
}